# Core ML/Data Libraries
tensorflow>=2.8      
numpy==1.25.0
pandas==2.1.0
scikit-learn
imbalanced-learn     # For SMOTE

# Audio Processing
librosa

# Visualization & Notebook
matplotlib==3.7.3
seaborn
umap-learn         # For UMAP embeddings
jupyter            

streamlit==1.30.0
pillow==10.0.0


